<div class="main-container">
    <div class="col-md-6 mx-auto">
        <h1 class="display-4 text-center text-white p-4 mb-3">Settings</h1>
        <%= render 'form', btn_msg: "Edit account" %>
    </div>
</div>
