<div class="main-container">
    <div class="col-md-6 mx-auto">
        <h1 class="display-4 text-center text-white mt-2">Sign up</h1>
        <%= render 'form', btn_msg: "Create a new account"%>
    </div>
</div>
