<div class="row">
    <div class="col-4 offset-4 mt-5 text-center">
        <h1>Adminiser categories</h1>
            <%= link_to "New category", new_admin_category_path , class: "btn btn-dark btn-lg"%>
    </div>
</div>