@import "bootstrap";
@import "font-awesome";

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.carouel-item {
  height: 100vh;
}

.carouel-caption {
  padding-bottom: 250px;
}

.jumbotron {
  margin-top: 2rem;
  padding: 2rem 2rem;
  background-color: rgba(0, 0, 0, 0.3);
  width: 400px;
}

.main-container {
  background-image: url("background-618226_1280.png");
  background-size: cover;
  height: 100vh;
}

.paginate {
  nav {
      display: inline-block;
  }
}

