<div class="row administration">
    <div class="col-4 offset-4 mt-5">
        <h1 class="text-center title">Administration</h1>
        <br>
        <br>
        <div class="container text-center">
            <div class="btn-design">
                <%= link_to 'Categories', admin_categories_path , class: "btn btn-dark btn-lg" %>
                <p>You can change the categories, descriptions, words, answers and choices.</p>
                <br>
                <%= link_to 'Users', admin_users_path , class: "btn btn-dark btn-lg" %>
                <p>You can add or remove the administ-ration to users.</p>
            </div>
             <%= link_to 'Back', current_user, class: "back-btn" %>
        </div>  
    </div>
</div>